extends layout

block content   
  title= title
  h1 Welcome to Nodebook
  p You are logged in
  
  div(class='container')
    div(class='row justify-content-center')
      div(class='col')
        span Create a post
        form(method='POST' action='')
          div.form-group
            textarea#content.form-control(type='textarea', placeholder='Type your post here'
              name='content' required='true') #{value=undefined===post ? '' :post.content}
          button.btn.btn-primary(type='submit') Submit
        if errors 
          ul
            for error in errors
              li!= error.msg
  if userPosts
    h4 Posts
    for post in userPosts
      - var user_liked_post = false
      
        div(class='container border-primary' style='border:1px solid #cecece;')
          div(class='row')
            div(class='col-sm-8')
              h3= post.author.full_name
            div(class='col-sm-4')
              p= post.posted_date
          p= post.content
         
          h5 Post liked by:
          for post_like in post.likes
            p= post_like.full_name
            if post_like.id == currentUser.id
              - user_liked_post = true
          form(method='POST' action='/like')
            div.form-group
              input#postid.form-control(type="hidden", name="postid", value=post.id)
            if !user_liked_post
              button.btn.btn-primary(type='submit') Like Post
            else
              button.btn.btn-primary(type='submit') Unlike Post
          h4 comments
          for comment in post.comments
            - var user_liked_comment
            div(class='container border-primary' style='border:1px solid #cecece;')
              h4=comment.author.full_name
              p=comment.content
              p=comment.posted_date
              h5 Comment liked by:
              for comment_like in comment.likes
                p= comment_like.full_name
                if comment_like.id == currentUser.id
                  - user_liked_comment = true
              form(method='POST' action='/like')
                div.form-group
                input#postid.form-control(type="hidden", name="commentid", value=comment.id)
                if !user_liked_comment
                  button.btn.btn-primary(type='submit') Like Comment
                else
                  button.btn.btn-primary(type='submit') Unlike Comment
              <br>
          <br>
          p Make a comment
          form(method='POST' action='/comment')
            div.form-group
              textarea#content.form-control(type='textarea', placeholder='Type your post here'
                name='content' required='true') 
              input#postid.form-control(type="hidden", name="postid", value=post.id)
            button.btn.btn-primary(type='submit') Submit
          <br>
        <br>
      
